<section class="content-header"></section>

<section class="content">
  <section class="invoice">
    <form #form='ngForm' novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório e com 5 caracterres" label="Endereço">
            <input name="address" ngModel required autocomplete="off" class="form-control" placeholder="Endereço" minlength="5" />
          </mt-input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input-container errorMessage="Campo obrigatório" label="Número">
            <input name="number" ngModel required autocomplete="off" class="form-control" placeholder="Número" pattern="^[0-9]*$" />
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container errorMessage="Campo obrigatório" label="Número" optional="true">
            <input name="optionalAddress" ngModel class="form-control" placeholder="Complemento" />
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <div class="col-xs-12 table-responsive">
          <mt-order-itens [itens]="cartItens()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)" (remove)="remove($event)"></mt-order-itens>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" name="paymentOption" ngModel required></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-costs [delivery]="delivery" [itensValue]="itensValue()"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(form.value)" class="btn btn-success pull-right" [disabled]="form.invalid || cartItens().length === 0">
          <i class="fa fa-credit-card"></i>
          Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>